/* nav */
.main-nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
}
.navbar {
    width: 100%;
    position: relative;
}
.logo-nav {
    width: 200px;
}
.navbar-menu {
    float: right;
    padding: 30px;
}
.navbar-menu li {
    display: inline-block;
    margin-right: 50px;
}
.navbar-menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.logo-menu {
    width: 50px;
    position: absolute;
    top: 50px;
    right: 10px;
    display: none;
}
/* info-car */
body, html {
    margin: 0px;
    padding: 0px;
    background-color: white;
    opacity: 1;
}
.info-car {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.info-car h1 {
    background-color: black;
    color: white;
    margin: 50px auto;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px gray;
}
.info-car img {
    width: 49%;
    box-shadow: 10px 10px 10px gray;
    border-radius: 8px;
}
/* footer */
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px;
    margin-top: 50px;
}
@media screen and (max-width:500px) {
    .navbar-menu {
        position: absolute;
        right: -270px;
        top: 100px;
        background-color: black;
        transition: 2s;
        opacity: 0.5;
    }
    .navbar-menu li {
        display: block;
        line-height: 2.5;
    }
    .logo-menu {
        display: block;
    }
    .navbar:hover .navbar-menu {
        right: 0px;
    }
    .info-car img {
        width: 50%;
        margin-top: 20px;
    }
    /*body {
        overflow: hidden;
    }*/
    footer {
        text-align: center;
    }
}
